<body>
    <br>
    <a href="/admin/addCoupons"><button style="width:180px ;margin-left:50px" type="button" class="btn btn-primary">Add Coupons</button></a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Coupon-Name</th>
                <th scope="col">Coupon-Id</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Percentage</th>
                <th scope="col">Min Purchase Amount</th>
                <th scope="col">Max Discount Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each coupons}}
            <tr>
                <td>{{inc @index}}</td>
                <td>{{this.couponName}}</td>
                <td>{{this.couponId}}</td>
                <td>{{this.expDate}}</td>
                <td>{{this.couponPercentage}}</td>
                <td>{{this.minAmount}}</td>
                <td>{{this.maxdiscount}}</td>
                <td>
                    <a href="/admin/editCoupon?id={{this._id}}" class="btn btn-primary">EDIT</a>
                    <button class="btn btn-danger" onclick="confirmDelete('{{this._id}}')">DELETE</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        function confirmDelete(id) {
            swal({
                title: 'Are you sure?',
                text: 'Are you sure to delete this coupon?',
                icon: 'warning',
                buttons: ['Cancel', 'Delete'],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    // Perform the deletion
                    deleteCoupon(id);
                }
            });
        }

        function deleteCoupon(id) {
            // Perform the deletion
            window.location.href = `/admin/deleteCoupon/${id}`;
        }
    </script>
</body>
